services: 

  backend-shell: 
    container_name: backend-shell 
    build: ./backend 
    entrypoint: bash -c 
    profiles: ["backend"]

  backend: 
    container_name: backend 
    build: ./backend 
    profiles: ["backend"]
    ports: 
    - "5000:5000"
    environment: 
      - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY
      - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_KEY
      - AWS_DEFAULT_REGION=us-east-2
    volumes: 
      - .:/code
      - C:\Users\trevo\.aws\credentials:/app/.aws/credentials:ro
  
  data-collection:
    container_name: data-collection
    build: ./data_collection
    profiles: ["data"]
    ports: 
      - "5002:5000"
    environment:
      - AWS_ACCESS_KEY_ID=abc
      - AWS_SECRET_ACCESS_KEY=xyz
      - AWS_DEFAULT_REGION=us-east-2
    depends_on: 
      - selenium
      - localstack-dynamodb
    networks:
      - bias-network

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    profiles: ["dynamodb", "data"]
    ports:
      - "5100:5100"
    environment:
      DYNAMO_ENDPOINT: "http://localstack-dynamodb:4566"
      AWS_REGION: us-east-2
      AWS_ACCESS_KEY_ID: abc
      AWS_SECRET_ACCESS_KEY: xyz
      PORT: 5100
    networks:
      - bias-network
    depends_on:
      - localstack-dynamodb
  
  localstack-dynamodb:
    container_name: "localstack-dynamodb"
    profiles: ["dynamodb", "data"]
    image: localstack/localstack
    ports: 
      - "4566:4566"
    environment:
      SERVICES: dynamodb
      AWS_ACCESS_KEY_ID: abc
      AWS_SECRET_ACCESS_KEY: xyz
      AWS_REGION: us-east-2
    networks:
      - bias-network
  
  setup-resources:
    container_name: setup-resources
    image: amazon/aws-cli
    profiles: ["dynamodb", "data", "setup"]
    entrypoint: /bin/sh -c
    environment:
      AWS_REGION: us-east-2
      AWS_ACCESS_KEY_ID: abc
      AWS_SECRET_ACCESS_KEY: xyz
    networks:
      - bias-network
    command: >
      "
        sleep 10
        cd /setup_resources
        ./create_story_table.sh > /dev/null && \
        echo AWS resources created!
      "
    depends_on:
     - localstack-dynamodb
    volumes:
      - ./data_collection/setup_resources:/setup_resources

  selenium:
    container_name: selenium
    image: selenium/standalone-chrome
    profiles: ["data"]
    ports: 
    - "4444:4444"
    logging:
      driver: none
    networks:
     - bias-network
  

networks: 
  bias-network:
    name: bias-network 